<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809300336767-r4lg7detudoot8lqtamagu2uiil5p23b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809300336767-r4lg7detudoot8lqtamagu2uiil5p23b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>809300336767-lv6lv1itvpj8uf4oo6qbnmhod82gapmb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAnxP_DYzz7CYb0HUk2US9B7E4d-YNfooU</string>
	<key>GCM_SENDER_ID</key>
	<string>809300336767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.foodelicious</string>
	<key>PROJECT_ID</key>
	<string>foodelicious-e13e7</string>
	<key>STORAGE_BUCKET</key>
	<string>foodelicious-e13e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809300336767:ios:d6106ef3633aedcb129f4a</string>
</dict>
</plist>